:root {
  --accent-color: #2196f3;
  --primary-color: #212121;
  --secondary-color: #757575;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

body {
  background-color: #fff;
  color: var(--primary-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* =======COMPONENTS======= */

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo,
.footer-logo {
  color: var(--primary-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

.values,
.projects,
.team {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.values-title,
.team-name {
  margin-bottom: 10px;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #fff;
}

/* =======END COMPONENTS======= */

/* =========HEADER========= */

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.contacts-link {
  color: var(--secondary-color);
  display: flex;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link-icon {
  text-align: center;
  margin-right: 10px;
  fill: currentColor;
}

.logo-accent,
.menu-link:hover,
.menu-link:focus,
.contacts-link:hover,
.contacts-link:focus,
a.active-page {
  color: var(--accent-color);
}

.logo,
.menu-link {
  color: var(--primary-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link,
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}

.menu-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-box,
.nav,
.menu,
.contacts {
  display: flex;
  align-items: center;
}

.menu {
  margin-left: 93px;
}

.contacts {
  margin-left: auto;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-item:first-child {
  margin-right: 30px;
}

a.active-page {
  position: relative;
}

.active-page::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0px;
  bottom: 0px;
  background-color: var(--accent-color);
  border-radius: 2px;
}
/* =========END HEADER========= */

/* =========MAIN CONTENT========= */

/* ---------------hero--------------- */

.hero {
  background-color: #c4c4c4;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/main-img/hero.jpg);
  background-size: cover;
}

.hero-title {
  color: #fff;
  margin-bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  height: 120px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:active {
  background-color: #188ce8;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* ---------------end hero--------------- */

/* ---------------our-values--------------- */

.our-values {
  padding-top: 94px;
  padding-bottom: 47px;
}

.values-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.values-title {
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
}

.values-text {
  color: var(--secondary-color);
  line-height: 1.7;
}

.values-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

/* ---------------end our-values--------------- */

/* ---------------our-projects--------------- */

.our-projects {
  padding-top: 47px;
  padding-bottom: 94px;
}

.projects-item {
  position: relative;

  margin-top: 30px;
  margin-left: 30px;
}

.projects-title {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0px;
  left: 0px;
  padding-top: 27px;
  padding-bottom: 27px;

  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background-color: rgba(47, 48, 58, 0.8);
}
/* ---------------end our-projects--------------- */

/* ---------------our-team--------------- */

.our-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.profession,
.team-name {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.profession {
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.team-name {
  font-weight: 500;
}

.team-name-box {
  padding: 30px 32px;
}

.team-item {
  margin-top: 30px;
  margin-left: 30px;
  background-color: #fff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* ---------------end our-team--------------- */

/* ---------------clients---------------*/

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--accent-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* ---------------end clients---------------*/

/* =========END MAIN CONTENT========= */

/* =========FOOTER========= */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.footer-social-list {
  display: flex;
  width: 206px;
  justify-content: space-between;
}

.footer-logo {
  color: #fff;
}

.footer-join {
  margin-left: 70px;
}

.footer-address-text {
  color: #fff;
  font-style: normal;
  line-height: 1.71;
}

.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
}

.footer-address {
  margin-top: 20px;
}

.footer-mail,
.footer-tel {
  display: block;
  margin-top: 9px;
}

.footer-title {
  color: #fff;
  font-size: 14px;
  line-height: 1.15;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social-icon {
  fill: #fff;
}

.footer-subscribe {
  margin-left: 93px;
}

.footer-subscribe-field {
  width: 358px;
  height: 50px;
  padding: 15px;
  margin-right: 12px;

  background-color: transparent;
  color: #fff;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-field:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.footer-subscribe-field::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-button {
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;

  width: 200px;
  height: 50px;

  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 28px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-button:hover,
.footer-subscribe-button:active {
  background-color: #188ce8;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-subscribe-button::after {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../images/svg/subscribe-submit.svg);
}

/* =========END FOOTER========= */

/* =========MODAL WINDOW========= */
.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  padding: 0px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-sizing: border-box;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover,
.close-button:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;
}

.modal-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-form-message:focus {
  outline: none;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field:last-of-type {
  margin-bottom: 20px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-checkbox-container {
  text-align: center;
}

.modal-checkbox-policy::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  width: 16px;
  height: 15px;
  background-image: url(../images/svg/empty-check.svg);
  margin-right: 9px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:checked + .modal-checkbox-policy::before {
  background-image: url(..//images/svg/check.svg);
}

.modal-checkbox:focus + .modal-checkbox-policy::before {
  box-shadow: 0 0 2px 1px var(--accent-color);
}

.modal-checkbox-policy {
  line-height: 1.7;
  color: #757575;
}

.modal-policy-link {
  color: var(--accent-color);

  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-policy-link:focus {
  outline-color: var(--accent-color);
}

.modal-form-button {
  align-self: center;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  margin-top: 30px;

  background-color: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-button:hover,
.modal-form-button:focus {
  background-color: #188ce8;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* =========END MODAL WINDOW========= */

/* =========PORTFOLIO PAGE========= */

.section-gallery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  background-color: #f5f4fa;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;

  padding: 6px 22px;
  border-radius: 4px;
  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.gallery-item {
  background-color: #ffffff;
  margin-top: 30px;
  margin-left: 30px;
}

.gallery-title {
  color: var(--primary-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-bottom: 4px;
}

.gallery-text {
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 1.9;
}

.gallery-item-box {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.gallery-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover,
.gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* overlay */

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: translateY(100%);
  overflow: auto;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.55;
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-link:hover .overlay-text,
.gallery-link:focus .overlay-text {
  transform: translateY(0%);
}

/* =========END PORTFOLIO PAGE========= */
